html, body {
    margin: 0;
    background-image: url('https://github.com/Arcade-IO/Arcade.IO/blob/main/src/assets/images/logo/ARCADE.IO%20BACKGROUND.png?raw=true');
    background-color: #040029;    

  }