/* Importér Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/* Global Reset og font-anvendelse */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', sans-serif;
}

/* Sørg for, at form-elementer arver den globale font */
input, button, select, textarea {
  font-family: inherit;
}

/* Globale body-styles */
html, body {
  height: 100vh;
  background-color: #040029;
  /* Hvis du bruger et globalt background image, kan du tilføje det her */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* Du kan her tilføje andre globale regler, fx for links */
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}
